<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
         defaultTestSuite="unit"
         cacheDirectory="./build/cache/phpunit"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <testsuites>
        <testsuite name="complete">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage/>

    <php>
        <ini name="memory_limit" value="1G"/>
        <env name="HEADLESS" value="true"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>src/Model/Ciudadano.php</file>
            <file>src/Model/CurpResult.php</file>
            <file>src/Model/DocumentoProbatorio.php</file>
            <file>src/Model/Entidad.php</file>
            <file>src/Model/EntidadRegistro.php</file>
        </exclude>
    </source>

</phpunit>
